
.app-container{
  display: grid;
  background-color : #D8e4ee;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  
}

.journal-form{
  display:grid;
  row-gap: 20px;
  padding: 50px;

}

.journal-grid{
  display:flex;
  row-gap:20px;
  column-gap:20px;
  flex-wrap: wrap
}